.footer {
  padding: 7vmin;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5vmin;
}
.footer .container .btn-createAd {
  width: 247px;
  height: 59px;
  border-radius: 5px;
  gap: 10px;
  font-size: 20px;
  color: whitesmoke;
  background-color: #6a5bcd;
  border: none;
  transition: 0.3s all ease-in-out;
}
.footer .container .btn-createAd:hover {
  background-color: #3a2d94;
  cursor: pointer;
}
.footer .container2 {
  background-color: white;
  justify-content: space-between;
  padding-bottom: 2rem;
  border-top: 1px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
  display: flex;
  padding-top: 5vmin;
}
.footer .container2 .flex hr {
  border: 1px solid #f6f6f6;
}
.footer .container2 .flex p {
  color: #9a9ca8;
  padding-top: 1rem;
}
.footer .container2 .flex .twoimg {
  padding-top: 1rem;
}
.footer .container2 .flex .left-up span {
  padding-left: 1vmin;
  color: #9a9ca8;
}
.footer .container2 .flex .left-down {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.footer .container2 .flex .left-down span {
  padding-left: 1vmin;
  color: #9a9ca8;
}
.footer .container3 {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}
.footer .container3 p {
  color: #9a9ca8;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
}
@media only screen and (min-width: 300px) and (max-width: 600px) {
  .footer .twoimg {
    display: flex;
    padding: 1rem 0 !important;
  }
  .footer .left-up span {
    display: none ;
  }
  .footer .left-down span {
    display: none ;
  }
  .footer .flex:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer .flex:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  .footer .flex:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .flex:nth-child(4) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  .footer .container2 {
    flex-direction: column;
  }
  .footer .container .btn-createAd {
    width: 160px !important;
  }
}
@media only screen and (min-width: 601px) and (max-width: 800px) {
  .twoimg {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 !important;
  }
  .left-up span {
    display: none ;
  }
  .left-down span {
    display: none ;
  }
}
