.edit-head {
  padding: 7vmin;
  background-color: #f0f3fa;
}
.edit-head h2 {
  padding-top: 10rem;
  font-family: DM Sans;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #484b5e;
}
.edit-head .container-edit {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin-top: 3rem;
}
.edit-head .container-edit div h3 {
  font-family: DM Sans;
  font-size: 21px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #979798;
}
.edit-head .container-edit div p {
  margin-top: 1rem;
  color: #484b5e;
  font-size: 23px;
  font-weight: 550;
}
.edit-head .container-edit div .p-con {
  color: red;
}
@media only screen and (min-width: 300px) and (max-width: 600px) {
  .container-edit {
    flex-direction: column;
    width: 100% !important;
  }
  .container-edit div {
    margin-top: 1rem !important;
  }
  .container-edit div p {
    margin: 0 !important;
  }
}
@media only screen and (min-width: 601px) and (max-width: 800px) {
  .container-edit {
    width: 100% !important;
  }
}
